## Quiz #0502

### "Human Activity Recognition"

#### Answer the following questions by providing Python code:
#### Objectives:
- Carry out the EDA.
- Carry out the data pre-processing.
- Optimize and test a predictive model of your choice.

In [44]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import warnings
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier,AdaBoostClassifier, GradientBoostingClassifier
from xgboost import XGBClassifier
from sklearn import metrics, preprocessing
warnings.filterwarnings(action='ignore')                  # Turn off the warnings.
%matplotlib inline

#### Read in data:
The explanation on the dataset can be found [here](https://archive.ics.uci.edu/ml/datasets/human+activity+recognition+using+smartphones).

In [2]:
# Go to the directory where the data file is located. 
# os.chdir(r'~~')                # Please, replace the path with your own.

In [45]:
df = pd.read_csv('data_human activity recognition.csv', header='infer')

In [46]:
df.shape

(19622, 160)

In [47]:
df.columns

Index(['Unnamed: 0', 'user_name', 'raw_timestamp_part_1',
       'raw_timestamp_part_2', 'cvtd_timestamp', 'new_window', 'num_window',
       'roll_belt', 'pitch_belt', 'yaw_belt',
       ...
       'gyros_forearm_x', 'gyros_forearm_y', 'gyros_forearm_z',
       'accel_forearm_x', 'accel_forearm_y', 'accel_forearm_z',
       'magnet_forearm_x', 'magnet_forearm_y', 'magnet_forearm_z', 'classe'],
      dtype='object', length=160)

1). Carry out the EDA. Check for the missing values. HINT: The response variable is 'classe'.

In [48]:
       # <Your code goes in here>
#Checking for the missing values 
s = df.isnull().sum()
s = s[s>0]
print(s) # We see that there are 100 features with missing values

kurtosis_roll_belt      19216
kurtosis_picth_belt     19216
kurtosis_yaw_belt       19216
skewness_roll_belt      19216
skewness_roll_belt.1    19216
                        ...
stddev_pitch_forearm    19216
var_pitch_forearm       19216
avg_yaw_forearm         19216
stddev_yaw_forearm      19216
var_yaw_forearm         19216
Length: 100, dtype: int64

2). Get rid of the columns that have more than 97% missing values.

In [49]:
       # <Your code goes in here>
# Finding the columns with more than 97% missing values
n_rows = df.shape[0]
col = list(s[s>(97*n_rows/100)].index) #We get the index of these columns
print("Number of columns to drop :",len(col))
df.drop(columns=col,inplace=True) #Dropping these columns
print('There are :',int((df.isnull().sum().shape)[0]),'remaining columns ')
df.head()

Number of columns to drop : 100
There are : 60 remaining columns

   Unnamed: 0 user_name  ...  magnet_forearm_z  classe
0           1  carlitos  ...             476.0       A
1           2  carlitos  ...             473.0       A
2           3  carlitos  ...             469.0       A
3           4  carlitos  ...             469.0       A
4           5  carlitos  ...             473.0       A

[5 rows x 60 columns]

3). Get rid of the unnecessary columns. HINT: Those columns with "time" in the name and those that are obviously unnecessary.

In [50]:
       # <Your code goes in here>
df.drop(columns='Unnamed: 0',inplace=True)
df.drop(columns=df.columns[df.columns.str.contains('time')],inplace=True)

4). Label encode the responde variable. HINT: use preprocessing.LabelEncoder().

In [51]:
       # <Your code goes in here>
from sklearn.preprocessing import LabelEncoder
print('Before label encoding :',df['classe'].unique())
le = LabelEncoder()
df["classe"] = le.fit_transform(df["classe"])
print('After label encoding :',df['classe'].unique())

Before label encoding : ['A' 'B' 'C' 'D' 'E']
After label encoding : [0 1 2 3 4]

5). Carry out min-max scaling of the exploratory variables. HINT: use preprocessing.MinMaxScaler().

In [52]:
       # <Your code goes in here>
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
col = list(df.drop('classe',axis=1).select_dtypes(include='number').columns) # selecting the numerical columns  
df[col] = scaler.fit_transform(df[col])

6). Choose an algorithm and carry out the predictive analysis.

- Optimize the hyperparameter(s)
- Calculate the accuracy.
- Aim for upper 90% accuracy.

In [54]:
       # <Your code goes in here>
X=df[col]
Y=df['classe']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

#We choose the random forest algorithm
RFC = RandomForestClassifier()
#Optimizing the hyperparameters using GridSearchCV 
n_estimators = [10 , 50, 100, 300]
max_depth = [5, 8, 15]

param_dict = dict(n_estimators = n_estimators , max_depth=max_depth)

gridF = GridSearchCV(RFC, param_dict, cv = 3, verbose = 1, 
                      n_jobs = -1)
bestF = gridF.fit(X_train, Y_train)
Y_pred = gridF.predict(X_test)
print( "Random Forest accuracy : " + str(np.round(metrics.accuracy_score(Y_test,Y_pred),3)))
print("The best parameters are :",bestF.best_params_)

Fitting 3 folds for each of 12 candidates, totalling 36 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  36 out of  36 | elapsed:  1.6min finished

Random Forest accuracy : 0.996
The best parameters are : {'max_depth': 15, 'n_estimators': 300}