## Quiz #0101

#### Provide the answers in Python code:

1).  In the class A, students' heights are:

161.5 <br>
165.9 <br>
168.7 <br>
163.1 <br>
170.8 <br>
167.2 <br>

Calculate the mean height by using Python 'list' and 'for' loop:

In [ ]:
A = [161.5,165.9,168.7,163.1,170.8,167.2]
meanHeightA = 0

for i in range(0,len(A)) :
    meanHeightA += A[i]
    
meanHeightA = (meanHeightA)/(len(A))
print(meanHeightA)

166.20000000000002

2).  In the class B, students' heights are:

172.5 <br>
162.9 <br>
161.7 <br>
160.1 <br>
161.8 <br>
169.2 <br>

Calculate the mean height by using Python 'list' and 'for' loop:

In [ ]:
B = [172.5,162.9,161.7,160.1,161.8,169.2]
meanHeightB = 0

for i in range(0,len(B)) :
    meanHeightB += B[i]
    
meanHeightB = meanHeightB/len(B)

print(meanHeightB)

164.70000000000002

3). The class A and the class B are joined together to form the class AB. Calculate the mean height by using Python 'list' and 'for' loop:

In [ ]:
A = [161.5,165.9,168.7,163.1,170.8,167.2]
B = [172.5,162.9,161.7,160.1,161.8,169.2]
AB = A+B

meanHeightAB = 0

for i in range(0,len(AB)) :
    meanHeightAB += AB[i]
    
meanHeightAB = meanHeightAB/len(AB)

print(meanHeightAB)

4). Sort the heights of the class AB.

In [ ]:
A = [161.5,165.9,168.7,163.1,170.8,167.2]
B = [172.5,162.9,161.7,160.1,161.8,169.2]
AB = A+B
AB.sort()

print(AB)

[160.1, 161.5, 161.7, 161.8, 162.9, 163.1, 165.9, 167.2, 168.7, 169.2, 170.8, 172.5]

5). The class C is formed with students with the height less than 165. Make a list 'C' containing the heights of the class C.

In [ ]:
A = [161.5,165.9,168.7,163.1,170.8,167.2]
B = [172.5,162.9,161.7,160.1,161.8,169.2]
AB = A+B
C = []
C = list(filter(lambda a : a<165,AB))

print(C)

[161.5, 163.1, 162.9, 161.7, 160.1, 161.8]

6). The class D is formed with students with the height larger than 160 and less than 170. Make a list containing the heights of the class D.

In [ ]:
A = [161.5,165.9,168.7,163.1,170.8,167.2]
B = [172.5,162.9,161.7,160.1,161.8,169.2]
AB = A+B
D = []
D = list(filter(lambda a : a>160 and a<170,AB))

print(D)

[161.5, 165.9, 168.7, 163.1, 167.2, 162.9, 161.7, 160.1, 161.8, 169.2]