## Quiz #0201

In [ ]:
import pandas as pd
import os

#### Read in the data.

In [ ]:
# Go to the directory where the data file is located. 
# os.chdir(r'~~')                # Please, replace the path with your own.

In [ ]:
df = pd.read_csv('data_studentlist.csv', header='infer')

In [ ]:
df.head(5)

              name gender  age  grade absence bloodtype  height  weight
0    Jared Diamond      M   23      3       Y         O   165.3    68.2
1   Sarah O'Donnel      F   22      2       N        AB   170.1    53.0
2     Brian Martin      M   24      4       N         B   175.0    80.1
3     David Hassel      M   23      3       N        AB   182.1    85.7
4  Clara Rodriquez      F   20      1       Y         A   168.0    49.5

#### Answer the following questions using Pandas library.

1). Average height of the male students:

In [ ]:
df[df['gender'] == 'M'].height.mean()

172.41

2). Average height of the male students:

In [ ]:
df[df['gender'] == 'F'].height.mean()

166.64285714285714

3). Average weight of the male students:

In [ ]:
df[df['gender'] == 'M'].weight.mean()

4). Average weight of the female students:

In [ ]:
df[df['gender'] == 'F'].weight.mean()

5). The tallest height among the male students:

In [ ]:
df[df['gender'] == 'M'].height.max()

182.1

6). The shortest height among the female students:

In [ ]:
df[df['gender'] == 'F'].height.min()

155.2

7). The lightest weight among the male students of height taller than 175cm:

In [ ]:
df[(df['gender'] == 'M') & (df['height'] > 175)].weight.min()

61.3

8). The heaviest weight among the female students of height shorter than 160cm:

In [ ]:
df[(df['gender'] == 'F') & (df['height'] < 160)].weight.max()

55.0

9). The average grade of students without absence ('N'):

In [ ]:
df[(df['absence'] == 'N')].grade.mean()

2.076923076923077

10). The average grade of students with absence ('Y'):

In [ ]:
df[(df['absence'] == 'Y')].grade.mean()

11). Average height of the students with blood type 'A' or 'AB':

In [ ]:
df[(df['bloodtype'] == 'A') | (df['bloodtype'] == 'AB')].height.mean()

172.64285714285714

12). Average height of the **male** students with blood type 'A' or 'AB':

In [ ]:
df.loc[((df['gender'] == 'M') & ((df['bloodtype'] == 'AB') | (df['bloodtype'] == 'A')))].height.mean()

173.375

13). Average age of the students with absence ('Y') whose grade is equal or larger than 3:

In [ ]:
df.loc[((df['absence'] == 'Y') & (df['grade'] >= 3))].age.mean()

23.666666666666668